body {
  background-color: rgb(206, 206, 208);
}
.display {
  width: 30%;
  margin: auto;
  height: 30px;
  background-color: white;
  font-family: monospace;
  text-align: end;
  border: 3px solid;
  border-bottom: 0px;
  border-color: rgb(0, 0, 0);
}
h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Container {
  background-color: rgb(106, 105, 105);
  border: 3px solid;
  border-top: 0px;
  width: 30%;
  margin: auto;
  align-content: center;
}
.row2 {
  position: ;
}
